<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <property name="M_PI" value="3.1415926535897931" />

  <xacro:macro name="pioneer_chassis" params="name parent xyz rpy meshes">

  <!-- Chassis -->
  <joint name="${parent}_${name}_joint" type="fixed">
    <origin xyz="${xyz}" rpy="${rpy}"/>
    <parent link="${parent}"/>
    <child link="${name}"/>
  </joint>
  <link name="${name}">
    <visual name="chassis_visual">
      <origin xyz="${xyz}" rpy="${rpy}"/>
      <geometry name="pioneer_geom">
        <mesh filename="${meshes}/chassis.stl"/>
      </geometry>
      <material name="ChassisRed">
        <color rgba="0.851 0.0 0.0 1.0"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-0.045 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="${meshes}/chassis.stl"/>
      </geometry>
    </collision>
    <xacro:cylinder_inertial length="0.255718" radius="0.01715" mass="6.0" />
    <!-- <inertial>
      <origin xyz="0 0 -0.034" rpy="0 0 0"/> 
      <mass value="9.0"/>
      <inertia ixx="0.1" ixy="0.0" ixz="0.0" iyy="0.1" iyz="0.0" izz="0.1"/> 
    </inertial> -->

  </link>
  <gazebo reference="${name}">
    <material value="Gazebo/Red"/>
  </gazebo>

 

  </xacro:macro>

</robot>